/* Quiz.css */

.quiz-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
  }
  
  .category-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .category-buttons button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .category-buttons button:hover {
    background-color: #45a049;
  }
  
  .quiz-card {
    padding: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 50%;
  }
  
  .quiz-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .question-card {
    margin-top: 15px;
  }
  
  .option {
    margin: 10px 0;
  }
  
  .option label {
    font-size: 1rem;
    cursor: pointer;
  }
  
  .loading-text {
    color: #888;
    font-size: 1.2rem;
  }
  
  .next-button-container {
    margin-top: 20px;
  }
  
  .next-button-container button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .next-button-container button:hover {
    background-color: #007bb5;
  }
  
  .result-card {
    padding: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 50%;
  }
  
  .result-card h2, .result-card h3 {
    color: #333;
  }
  
  .result-card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .result-card ul li {
    margin-bottom: 10px;
  }
  
  .result-card button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .result-card button:hover {
    background-color: #45a049;
  }
  